<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle" version="1.8.1" targetFramework="net45" />
  <package id="Inferno" version="1.4.0" targetFramework="net461" />
  <package id="NuGet.CommandLine" version="3.3.0" targetFramework="net461" developmentDependency="true" />
  <package id="NuGet.Packer" version="1.2.5" targetFramework="net461" developmentDependency="true" />
</packages>